<ion-header>
  <ion-toolbar>
    <div class="ion-text-center">
      <img src="../../assets/main_logo.png" width="50%" height="15%" style="padding-bottom: 1%;padding-top: 8%;">
      </div >
      <div style="text-align: center; font-size: 12pt;">
        Join Game
      </div>

<!-- BACK BUTTON -->
<ion-buttons id="backButton" slot="start" (click)="home()">
<ion-icon src="../../assets/chevron-back.svg" size ="large" color="fupot_grey"></ion-icon>
</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
<ion-card >
<ion-item style="font-size: 12pt;"color="fupot_grey"> ENTER GAME CODE </ion-item>
<ion-item><ion-input style="font-size: 20pt;" type="password" placeholder="Game Code"></ion-input></ion-item>
</ion-card>


  <div class="ion-text-center">
    <ion-button color="fupot_purple" shape="round">JOIN GAME</ion-button>
  </div>


</ion-content>