<ion-content>
  <form  #form="ngForm" >
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <img src="../../assets/test2.png" width="30%" height="20%" style="padding-bottom: 5%;">
            </div>
          <div class="middle_section">
            <ion-row class="padding_middle_section">
              <ion-icon name="person-outline" class="padding_between_icons"></ion-icon>
              <ion-input  name="name" type="text" placeholder="Username" ngModel required class="custom_border"></ion-input>
            </ion-row>
            <ion-row class="padding_middle_section">
              <ion-icon name="mail-outline" class="padding_between_icons"></ion-icon>
              <ion-input  name="email" type="email" placeholder="Email" ngModel required class="custom_border"></ion-input>
            </ion-row>
            <ion-row class="padding_middle_section">
              <ion-icon name="phone-portrait-outline" class="padding_between_icons"></ion-icon>
              <ion-input  name="phone" type="number" placeholder="Phone" ngModel required class="custom_border"></ion-input>
            </ion-row>
            <ion-row class="padding_middle_section">
              <ion-icon name="key-outline" class="padding_between_icons"></ion-icon>
              <ion-input  name="password" type="password" placeholder="Password" ngModel required class="custom_border"></ion-input>
            </ion-row>
          </div>
          <div style="margin-top: 20%;">
            <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Create Account</ion-button>
            <ion-label class="label_style">By creating an account, you agree to our Terms</ion-label>
            <div class="label_style">Already have an account,&nbsp; <a routerLink='/signin'>Signin</a></div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
