ion-content {
    
    --background: url(../../assets/bg_mid .png) no-repeat center/cover fixed;
    
  
  }
  #buttonPink {
    background: rgba(255,255, 255, 0.4);
    box-shadow: 3px 3px 3px #b7b7b7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 15px;
    border: 3px solid #AC3E72;
  
  }
  
  #labelLocations {
    text-shadow: 0 1px 1px #666666;
  
  }

  ion-spinner {
    color: #AC3E72 ;
    height: 50px;
  }