<ion-header>
  <ion-toolbar>
    <div class="ion-text-center">
      <img src="../../assets/main_logo.png" width="50%" height="15%" style="padding-bottom: 1%;padding-top: 8%;">
      </div >
      <div style="text-align: center; font-size: 10pt;">
        Profile
      </div>

<!-- SLIDE OUT MENU -->
<ion-buttons slot="start">
  <ion-menu-button menu="main-menu">
    <ion-icon src="../../assets/menu.svg" color="fupot_grey"></ion-icon>
  </ion-menu-button>    
</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-item style="margin-top: 5%;" color="fupot_grey"> 
    <ion-label> Establishment Name </ion-label>
  </ion-item>

  <ion-list>
    <ion-item>
      ## members in your group
    </ion-item>

    <ion-item>
      ## games hosted
    </ion-item>
    <ion-item>
      ## questions asked
    </ion-item>
    <ion-item>
      ## prizes issued 
    </ion-item>
  </ion-list>



</ion-content>
