<ion-header>
  <ion-toolbar color="none">
    <div class="ion-text-center">
      <img src="../../assets/main_logo.png" width="45%" style="padding-bottom: 1%;padding-top: 7%;">
      </div >
      <div style="text-align: center; font-size: 10pt; padding-bottom: 3%;">Location Page</div>



<!-- BACK BUTTON -->
<ion-buttons slot="start">
  <ion-back-button defaultHref="user-tabs" text="" icon="../../assets/chevron-back.svg" color="fupot_grey"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
  </ion-header>
<ion-content>

 <div style="margin-top: 12%;">
  <ion-card color="fupot_grey"> 
    <div class="img-wrapper" style="margin-bottom: 10%;">
      <img [src]="image_url"/>
      <ion-button color="light">
        <ion-icon slot="icon-only" src="../../assets/camera-outline.svg" color="medium">
        </ion-icon>
      </ion-button>
    </div>
    <ion-card-content class="ion-text-center">
     <div style="margin-top: 8%; padding-bottom: 8%;"> <ion-label id="label2" style="font-size: 18pt; font-weight: bold;">{{group_name}}</ion-label> 
    <ion-text style="font-size: small; font-weight: light;"><br>{{group_address}}<br> {{group_phone}} </ion-text></div>
    </ion-card-content>
  </ion-card></div>

  <div *ngIf="has_group === false">
  <div class="ion-text-center" style="margin-top: 15%; margin-left: 6%;margin-right: 6%;">
    <ion-button id="option" (click)="show()" expand="block" size="large" color="fupot_blue">
    <ion-label id="label" style="font-size: 15pt; font-weight: bold;" color="light">Join Group</ion-label></ion-button>
  </div>
</div>  


<div *ngIf="showMe"> 
<div style="margin-top: 5%; margin-bottom: 2%; margin-left: 3%;">
<ion-label id="label3" style="font-weight: bolder; font-size: large; " color="medium"> Updates: </ion-label></div>

<div class="ion-text-center"><ion-label id=timestamp>Fri, Feb 12 2:35am</ion-label></div>


<!-- CHAT BUBBLES -->
<div *ngIf="messages.length != 0" class="video-container">
<ion-list lines="none" >
    <ion-item [@fade] *ngFor="let msg of messages" style="padding-bottom: 5px;">
      <ion-row >
        <div class="chatBubble chatBubbleCorner" color="fupot_blue">
          
            <ion-text>{{msg.message}}</ion-text>
          
        </div>
            <div style="margin:auto;">
              <ion-label style="font-size: 12px;" class="ion-text-right">{{msg.created_at}}</ion-label>
            </div>
        </ion-row>
        
        
      
      
    </ion-item>
  </ion-list>
</div>

  <div style="justify-content: center;" class="chatBubble chatBubbleCorner ion-text-center">
    <ion-label *ngIf="messages.length == 0">The Owner hasn't published any messages yet</ion-label>
  </div>
  
  

  <ion-infinite-scroll  threshold="20px" (ionInfinite)="loadMore($event)" loadingSpinner="undefined" loadingText="Loading Users...">
  <ion-infinite-scroll-content ></ion-infinite-scroll-content>
  </ion-infinite-scroll> 



<!-- Answer Questions -->

 <div class="ion-text-center" style="margin-top: 0%; margin-left: 6%;margin-right: 6%;">
  <ion-button id="option" (click)="goAnswer()" expand="block" size="large" color="fupot_blue"><ion-label id="label" style="font-size: 15pt; font-weight: bold;" color="light">Answer Questions</ion-label></ion-button>
</div>

</div>

</ion-content>