<ion-header>
  <ion-toolbar>
    <div class="ion-text-center">
      <img src="../../assets/main_logo.png" width="50%" height="15%" style="padding-bottom: 1%;padding-top: 6%;">
      </div >
      <div style="text-align: center; font-size: 12pt;">
        Profile
      </div>
      <ion-buttons id="backButton" slot="start" (click)="home()">
        <ion-icon src="../../assets/chevron-back.svg" size ="large" color="fupot_grey"></ion-icon>
        </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>





</ion-content>