<ion-header>
  <ion-toolbar color="none">
    <div class="ion-text-center">
      <img src="../../assets/main_logo.png" width="45%" style="padding-bottom: 1%;padding-top: 7%;">
      </div >
      <div style="text-align: center; font-size: 10pt; margin-bottom: 3%;">
        All My Groups
      </div>
<!-- BACK BUTTON -->
<ion-buttons slot="start">
  <ion-back-button defaultHref="user-tabs" text="" icon="../../assets/chevron-back.svg" color="fupot_grey"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
  </ion-header>

<ion-content>

  <!-- LIST OF GROUPS -->

  <!-- <ion-list>
    <ion-item-divider>
      <ion-label>A</ion-label>
    </ion-item-divider>
    <ion-item>
      Location
    </ion-item>
    <ion-item>
      Location
    </ion-item>

    <ion-item-divider>
      <ion-label>B</ion-label>
    </ion-item-divider>

    <ion-item>
      Location
    </ion-item>
    <ion-item>
      Location
    </ion-item>
    <ion-item>
      Location
    </ion-item>
    <ion-item>
      Location
    </ion-item>

    <ion-item-divider>
      <ion-label>C</ion-label>
    </ion-item-divider>
    <ion-item>
      Location
    </ion-item>
    <ion-item>
      Location
    </ion-item>
    <ion-item>
      Location
    </ion-item>


  </ion-list> -->
  <ion-list>
    <ion-list-header color="fupot_grey"><ion-label style="font-size: 12pt;">My Groups</ion-label></ion-list-header>
    <ion-item [@fade] *ngFor="let establishment of establishments"  slot="start" (click)="go_to_establishment(establishment)"> 
        <ion-icon *ngIf="establishment.establishment_type.toLowerCase() == 'restaurant'" src="../../assets/location-sharp.svg" color="fupot_blue" style="padding-right: 5%;"></ion-icon>
        <ion-icon *ngIf="establishment.establishment_type.toLowerCase() == 'shopping'" src="../../assets/location-sharp.svg" color="fupot_pink" style="padding-right: 5%;"></ion-icon>
        <ion-icon *ngIf="establishment.establishment_type.toLowerCase() == 'social'" src="../../assets/location-sharp.svg" color="fupot_teal" style="padding-right: 5%;"></ion-icon>
        <ion-icon *ngIf="establishment.establishment_type.toLowerCase() == 'bar'" src="../../assets/location-sharp.svg" color="fupot_purple" style="padding-right: 5%;"></ion-icon>
        <ion-label style="font-size: large;">{{establishment.name}} </ion-label>
        <ion-item  lines="none"><ion-label >{{establishment.mile | number : '1.2-2'}} mi</ion-label></ion-item>
        <ion-icon src="../../assets/chevron-forward.svg"></ion-icon>
    </ion-item>
</ion-list>

<ion-infinite-scroll infiniteScroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading Users...">
  <ion-infinite-scroll-content class="main_front"></ion-infinite-scroll-content>
</ion-infinite-scroll> 


</ion-content>
