
#groupsList {
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}


ion-content {
    
  --background: url(../../assets/bg_mid .png) no-repeat center/cover fixed;

}


#findLocations {
  background: rgba(255,255, 255, 0.4);
  box-shadow: 3px 3px 3px #b7b7b7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 11px;
  border: 2px solid #2D719F;

}

#labelLocations {
  text-shadow: 0 1px 1px #666666;

}

#allGroups {
  display: block;
  margin: auto;
}

#logo {
  left: 5px;
}