<ion-header>
  <ion-toolbar color="none">
  
    <div class="ion-text-center" id="logo" style="margin-top: 7%;">
      <ion-buttons id="back"><ion-back-button defaultHref="owner-tabs" text="" icon="../../assets/chevron-back.svg" color="fupot_grey"></ion-back-button></ion-buttons>
      <img src="../../assets/main_logo.png" width="45%"></div>
    <div class="ion-text-center" style="font-size: 10pt; padding-top: 1%; padding-bottom: 3%;">Scheduled Questions</div>
  
  </ion-toolbar>
  </ion-header> 

<ion-content>

<ion-list *ngFor="let question of questions;let i = index">
  <ion-card>
    <ion-card-header color={{question.color}}>
        <ion-icon src="../../assets/gift-outline.svg">
          </ion-icon>
        <ion-label style="padding-bottom: 2%; padding-left: 4%;">{{question.ends_at_original | date: "hh:mm a"}}</ion-label>
        <ion-button (click)="go_to_edit_page(i)" style="float:right;padding-top: 5%; padding-right: 5%;">Edit</ion-button>
      
    </ion-card-header>
    <ion-card-content id={{question.card_color}}> 
      <ion-label>{{question.prompt}}</ion-label>
      <ion-button *ngIf="question.has_winner" color="clear" style="padding-left: 65%; padding-top: 4%;">
        <ion-label color={{question.color}} style="font-size: 11pt;">See Winner</ion-label>
        <ion-icon color={{question.color}} src="../../assets/chevron-forward.svg"></ion-icon></ion-button>
    </ion-card-content>
  </ion-card>
</ion-list>

</ion-content>



