<ion-header>
  <ion-toolbar>
    <div class="ion-text-center">
      <img src="../../assets/main_logo.png" width="50%" height="15%" style="padding-bottom: 1%;padding-top: 8%;">
      </div >
      <div style="text-align: center; font-size: 12pt;">
        Owner Home
      </div>
<!-- SLIDE OUT MENU -->
<ion-buttons slot="start">
  <ion-menu-button menu="main-menu">
    <ion-icon src="../../assets/menu.svg" color="dark"></ion-icon>
  </ion-menu-button>    
</ion-buttons>
</ion-toolbar>
</ion-header>

<!-- BUTTONS HOME SCREEN-->
<ion-content class="justify-content-center">
<ion-item class="ion-text-center" style= "margin-top: 7%;" color="dark">Buffalo Wild Wings</ion-item>
  
<!-- NEED TO CHANGE THESE COLORS TO FUPOT COLORS-->
  <div><ion-button (click)="createGame()" color="fupot_blue" expand="block" shape="round" style="margin-left: 10%;margin-right: 10%; margin-top: 5%;">Create Game</ion-button></div>
  <div><ion-button (click)="sendNotification()" color="fupot_pink" expand="block" shape="round" style="margin-left: 10%;margin-right: 10%;margin-top: 5%;">Send Notification</ion-button></div>
  <div><ion-button (click)="groupMembers()" color="fupot_teal" expand="block" shape="round" style="margin-left: 10%;margin-right: 10%;margin-top: 5%;">Group Members</ion-button></div>


<!-- BOTTOM NAV BAR -->  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="goGames" tab="home" style="background-color: #303030">
        <ion-icon src="../../assets/home.svg" color="fupot_purple"></ion-icon>
        <ion-label color="light">Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="search" style="background-color: #303030">
        <ion-icon src="../../assets/help-circle.svg" color="light" size="large"></ion-icon>
        <ion-label color="light">Games</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="Profile" style="background-color: #303030">
        <ion-icon src="../../assets/person.svg" color= "light"></ion-icon>
        <ion-label color="light">Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>



</ion-content>
