ion-content {
    
  --background: url(../../assets/bg_mid .png) no-repeat center/cover fixed;
}



ion-toolbar {
  background: rgb(77,158,215);
  background: linear-gradient(90deg, rgba(77,158,215,0.6) 10%, rgba(128,93,167,0.6) 30%, rgba(239,81,157,0.6) 70%, rgba(97,200,207,0.6) 90%);
}

ion-card-content {
 
    color: #303030;
    text-align: center;
}

ion-icon {
   font-size: 14pt;
}

#blueCard {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(77,158,215,0.7) 100%);
  background-color: white;
  border: 1px solid #2D719F;
}

#pinkCard {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(239,81,157,0.7) 100%);
  background-color: white;
  border: 1px solid #AC3E72;

}

#tealCard {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(97,200,207,0.7) 100%);
  background-color: white;
  border: 1px solid #49949A;
}

#purpleCard {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(128,93,167,0.7) 100%);
  background-color: white;
  border: 1px solid #5C4579;

}


#savedPink {
  background: rgba(255,255, 255, 0.4);
  box-shadow: 3px 3px 3px #b7b7b7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 15px;
  border: 3px solid #AC3E72;

}

#savedBlue {
  background: rgba(255,255, 255, 0.4);
  box-shadow: 3px 3px 3px #b7b7b7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 15px;
  border: 3px solid #2D719F;
}

#savedTeal {
  background: rgba(255,255, 255, 0.4);
  box-shadow: 3px 3px 3px #b7b7b7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 15px;
  border: 3px solid #49949A;

}

#savedPurple {
  background: rgba(255,255, 255, 0.4);
  box-shadow: 3px 3px 3px #b7b7b7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 15px;
  border: 3px solid #5C4579;
}

#label {
  text-shadow: 1px 1px 1px #404040;
  white-space: nowrap;
}