ion-content {
    
    --background: no-repeat center/cover fixed;

	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,0.3) 13%, rgba(97,200,207,0.3) 50%, rgba(77,158,215,0.3) 88%);
}


#title {
font-family: "Arial Black", Gadget, sans-serif;
font-size: 40px;
letter-spacing: -1.2px;
word-spacing: 4.2px;
font-weight: 400;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;
-webkit-text-stroke: black 1px;
color: #ffffff;
text-shadow: 2px 2px 0 #805da7, 4px 4px 0 #ef519d;
white-space: nowrap;
}


#body {
	font-size: 25px;
	color: #303030;
	text-align: center;
}


$color-violet: #805da7;
$color-purple: #805da7;
$color-yellow: #4d9ed7;
$color-red: #ef519d;
$color-cyan: #61c8cf;
$animation-duration: 1.5s;

/* debug */
$debug-animation-count: infinite; // infinite | 1


/* Cannon */
.cannon {
	height: 70vh;
	width: 1px;
	position: relative;
	transform-origin: 50% 100%;
	animation: cannon-explosion $animation-duration cubic-bezier(0.18, 0.89, 0.32, 1.28) both;

	// debug
	animation-iteration-count: $debug-animation-count;

	@keyframes cannon-explosion {
		0% {
			transform: scale(0);
		}
		80% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	
	/* Paths */
	&__path {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		transform-origin: 50% 100%;
		padding-bottom: 30%;
		display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
		
		&--lg {
			height: 100%;
		}
		
		&--md {
			height: 95%;
		}
		
		&--sm {
			height: 90%;
		}
		
		&--angle {
			&-2 {
				transform: rotate(-15deg);
			}
			
			&-1 {
				transform: rotate(-7.5deg);
			}
			
			&1 {
				transform: rotate(7.5deg);
			}
			
			&2 {
				transform: rotate(15deg);
			}
		}
	}
	
	/* Confettis */
	&__confetti {
		flex: 0 1 auto;
		animation-duration: $animation-duration;
		animation-timing-function: ease-out;
		animation-fill-mode: both;
		animation-iteration-count: $debug-animation-count;
		
		&:nth-child(even) {
			animation-name: confetti-rotate-l;

			@keyframes confetti-rotate-l {
				0% {
					transform: rotate(0) scaleY(1);
				} 50% {
					transform: rotate(2turn) scaleY(1.5);
				} 100% {
					transform: rotate(2.05turn) scaleY(1);
				}
			}
		}

		&:nth-child(odd) {
			animation-name: confetti-rotate-r;

			@keyframes confetti-rotate-r {
				0% {
					transform: rotate(0) scaleY(1);
				} 50% {
					transform: rotate(-2turn) scaleY(1.5);
				} 100% {
					transform: rotate(-2.05turn) scaleY(1);
				}
			}
		}

		/* Types */
		&--ribbon {
			height: 1em;
			width: .5em;
			border-radius: .1em;
		}
		
		&--flake {
			height: .5em;
			width: .5em;
			border-radius: 50%;
		}
		
		/* Colors */
		&--color-1 {
			background-color: $color-yellow;
		}
		
		&--color-2 {
			background-color: $color-purple;
		}
		
		&--color-3 {
			background-color: $color-red;
		}
		
		&--color-4 {
			background-color: $color-cyan;
		}
	}
}

/* Demo styles */
html {
	background-color: $color-violet;
}

.party-popper {
	position: absolute;
	left: 50%;
	bottom: 25vh;
	font-size: 2em;
	transform: translateX(-50%);
	
}

.cannon {
	position: absolute;
	bottom: 22vh;
	left: 50%;
}

#qrCode {
	height: 130px;
	margin-top: 6250px;
}