<ion-header>
  <ion-toolbar color="none">
       
    <div class="ion-text-center" id="logo" style="padding-top: 7%;"><img src="../../assets/main_logo.png" width="45%"></div>
        
    <div style="text-align: center; font-size: 10pt; padding-top: 1; padding-bottom: 3%;">Shopping Locations</div>
  
    <ion-buttons slot="start"><ion-back-button defaultHref="user-tabs" text="" icon="../../assets/chevron-back.svg" color="fupot_grey"></ion-back-button></ion-buttons>
  
  </ion-toolbar>
  </ion-header> 

<ion-content>
  <ion-list>
    <ion-list-header color="fupot_grey"><ion-label style="font-size: 12pt;">Nearby Locations</ion-label></ion-list-header>
    <ion-item [@fade] *ngFor="let establishment of establishments"  slot="start" (click)="goLocation()"> 
        <ion-icon *ngIf="establishment.establishment_type == 'restaurant'" src="../../assets/location-sharp.svg" color="fupot_blue" style="padding-right: 5%;"></ion-icon>
        <ion-icon *ngIf="establishment.establishment_type == 'shopping'" src="../../assets/location-sharp.svg" color="fupot_pink" style="padding-right: 5%;"></ion-icon>
        <ion-icon *ngIf="establishment.establishment_type == 'dining'" src="../../assets/location-sharp.svg" color="fupot_teal" style="padding-right: 5%;"></ion-icon>
        <ion-icon *ngIf="establishment.establishment_type == 'bar'" src="../../assets/location-sharp.svg" color="fupot_purple" style="padding-right: 5%;"></ion-icon>
        <ion-label style="font-size: large;">{{establishment.name}}</ion-label>
        <ion-item  lines="none"><ion-label >{{establishment.mile | number : '1.2-2'}} mi</ion-label></ion-item>
        <ion-icon src="../../assets/chevron-forward.svg"></ion-icon>
    </ion-item>
</ion-list>

<ion-infinite-scroll  threshold="20px" (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading Users...">
  <ion-infinite-scroll-content class="main_front"></ion-infinite-scroll-content>
</ion-infinite-scroll> 


</ion-content>
