<!--HEADER-->
<ion-header>
    <ion-toolbar color="none">
      <div class="ion-text-center">
        <img src="../../assets/main_logo.png" width="45%" style="padding-bottom: 1%;padding-top: 7%;">
        </div >
        <div style="text-align: center; font-size: 10pt; margin-top: 0%; margin-bottom: 3%;">
          Search
        </div>
  </ion-toolbar>
  </ion-header>

  
  
<ion-content >


    <!-- SEARCHBAR -->  
  <div style="margin-top:2%;">
    <ion-searchbar  debounce="500" (ionChange)="filterList($event)"></ion-searchbar>
  </div>

<!-- MAP PLACEHOLDER -->

<agm-map 
[usePanning]="usePanning"
[fitBounds]="fitBounds"
id="map"
[zoom]="zoom"
[latitude]="latitude"
[longitude]="longitude" 
[mapDraggable]="true"
[disableDefaultUI]="true"><div>

<agm-marker *ngFor="let establishment of establishments"
[agmFitBounds]="true"
[animation]="'DROP'"
[latitude]="establishment['latitude']" 
[longitude]="establishment['longitude']" 
[iconUrl]="$any(establishment['icon'])"
>
<agm-polyline>
  </agm-polyline>
  <agm-info-window [disableAutoPan]="true" #infoWindow [isOpen]="true">
    <small>{{establishment.icon.label.text}}</small> <br>

   
  </agm-info-window>>
</agm-marker>
</div>
</agm-map>

<!-- NEARBY LOCATIONS -->

<div>
    <ion-list>
        <ion-list-header><ion-label color="light" style="font-size: 12pt;">Nearby Locations</ion-label>></ion-list-header>
        <ion-item [@fade] *ngFor="let establishment of only_establishments"  slot="start" (click)="goLocation(establishment)"> 
            <ion-icon *ngIf="establishment.establishment_type == 'restaurant'" src="../../assets/location-sharp.svg" color="fupot_blue" style="padding-right: 5%;"></ion-icon>
            <ion-icon *ngIf="establishment.establishment_type == 'shopping'" src="../../assets/location-sharp.svg" color="fupot_pink" style="padding-right: 5%;"></ion-icon>
            <ion-icon *ngIf="establishment.establishment_type == 'entertainment'" src="../../assets/location-sharp.svg" color="fupot_teal" style="padding-right: 5%;"></ion-icon>
            <ion-icon *ngIf="establishment.establishment_type == 'social'" src="../../assets/location-sharp.svg" color="fupot_purple" style="padding-right: 5%;"></ion-icon>
            <ion-label style="font-size: large;">{{establishment.name}}</ion-label>
            <ion-item  lines="none"><ion-label >{{establishment.mile | number : '1.2-2'}} mi</ion-label></ion-item>
            <ion-icon src="../../assets/chevron-forward.svg"></ion-icon>
        </ion-item>


        <!-- <ion-item slot="start"> 
            <ion-icon src="../../assets/location-sharp.svg" color="fupot_pink" style="padding-right: 5%;"></ion-icon>
            <ion-label style="font-size: large;">Target</ion-label>
            <ion-item lines="none"><ion-label>4.2mi</ion-label></ion-item>
            <ion-icon src="../../assets/chevron-forward.svg"></ion-icon>
        </ion-item>

        <ion-item slot="start"> 
            <ion-icon src="../../assets/location-sharp.svg" color="fupot_teal" style="padding-right: 5%;"></ion-icon>
            <ion-label style="font-size: large;">Bowl America</ion-label>
            <ion-item lines="none"> <ion-label>5.3mi</ion-label></ion-item>
            <ion-icon src="../../assets/chevron-forward.svg"></ion-icon>
        </ion-item>

        <ion-item slot="start"> 
            <ion-icon src="../../assets/location-sharp.svg" color="fupot_pink" style="padding-right: 5%;"></ion-icon>
            <ion-label style="font-size: large;">Best Buy</ion-label>
            <ion-item lines="none"><ion-label>6.8mi</ion-label></ion-item>
            <ion-icon src="../../assets/chevron-forward.svg"></ion-icon>
        </ion-item>

        <ion-item slot="start"> 
            <ion-icon src="../../assets/location-sharp.svg" color="fupot_purple" style="padding-right: 5%;"></ion-icon>
            <ion-label style="font-size: large;">Pete's Bar</ion-label>
            <ion-item lines="none"><ion-label>7.2mi</ion-label></ion-item>
            <ion-icon src="../../assets/chevron-forward.svg"></ion-icon>
        </ion-item> -->

    </ion-list>

</div>

<ion-refresher  slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

</ion-content>

