<ion-header>
  <ion-toolbar>
    <div class="ion-text-center">
      <img src="../../assets/main_logo.png" width="50%" height="15%" style="padding-bottom: 1%;padding-top: 8%;">
      </div >
      <div style="text-align: center; font-size: 12pt;">
        Home
      </div>
<!-- SLIDE OUT MENU -->
<ion-buttons slot="start">
  <ion-menu-button menu="main-menu">
    <ion-icon src="../../assets/menu.svg" color="fupot_grey"></ion-icon>
  </ion-menu-button>    
</ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content>
  <form  #form="ngForm" >
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        

<!-- List of user groups -->   
          <div>    
            <ion-card>
              <ion-card-header color="fupot_grey">
              <ion-card-subtitle class ="ion-text-center" style="font-size: 13pt;">My Groups</ion-card-subtitle>
            </ion-card-header>
            
            <div> 
            <ion-item slot="start">
              <ion-icon src="../../assets/person-circle-outline.svg" size="large" color="fupot_blue" style="padding-right: 5%;"></ion-icon>
              <ion-label>Buffalo Wild Wings</ion-label>
              <ion-item><ion-label >3.7mi</ion-label>
                <ion-icon src="../../assets/chevron-forward.svg" size="small"></ion-icon></ion-item></ion-item>
          </div>

          <div>
            <ion-item >
              <ion-icon src="../../assets/person-circle-outline.svg" size="large" color="fupot_pink" style="padding-right: 5%;"></ion-icon>             
               <ion-label>Target</ion-label>
               <ion-item><ion-label >4.6mi</ion-label>
                <ion-icon src="../../assets/chevron-forward.svg" size="small"></ion-icon></ion-item></ion-item>
          </div>

          <div>
            <ion-item >
              <ion-icon src="../../assets/person-circle-outline.svg" size="large" color="fupot_teal" style="padding-right: 5%;"></ion-icon>
              <ion-label>Chile's</ion-label>              
              <ion-item><ion-label >6.3mi</ion-label>
                <ion-icon src="../../assets/chevron-forward.svg" size="small"></ion-icon></ion-item></ion-item>
          </div>

          <div>
            <ion-item>
              <ion-icon src="../../assets/person-circle-outline.svg" size="large" color="fupot_purple" style="padding-right: 5%;"></ion-icon>              
              <ion-label>Best Buy</ion-label>
            <ion-item><ion-label >7.8mi</ion-label>
              <ion-icon src="../../assets/chevron-forward.svg" size="small"></ion-icon></ion-item></ion-item>
            </div>
          
          </ion-card>
          </div>

<!-- ALL MY GROUPS --> 
          <div style="text-align: center; font-size: 10; text-decoration-line: underline;">
           <ion-label>ALL MY GROUPS</ion-label>
           <ion-icon src="../../assets/chevron-forward.svg" color = "fupot_grey" size="small"></ion-icon>
          </div>


<!-- Find locations button -->          
          <div style="margin-top: 10%;">
            <ion-button  type="submit" [disabled]="form.invalid" expand="block" color="fupot_blue" shape="round" style="margin-left: 10%;margin-right: 10%;"><ion-label color="light" >Find Locations</ion-label></ion-button>
          </div>

<!-- Location categories-->           

            <div class ="ion-text-center">
              <img src="../../assets/dining_icon.png" width="30%" height="20%" style="padding-bottom: 2%; padding-top: 6%; padding-right: 2%">
              <img src="../../assets/shopping_icon.png" width="30%" height="20%" style="padding-bottom: 2%; padding-top: 6%; padding-left: 2%">
            </div>

            <div class ="ion-text-center">
             <img src="../../assets/entertainment_icon.png" width="30%" height="20%" style="padding-bottom: 2%; padding-top: 2%; padding-right: 2%">
             <img src="../../assets/socialize_icon.png" width="30%" height="20%" style="padding-bottom: 2%; padding-top: 2%; padding-left: 2%">
            </div>
        </ion-col>
        
        <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button tab="home" style="background-color: #303030">
            <ion-icon src="../../assets/home.svg" color="fupot_purple"></ion-icon>Home</ion-tab-button>

            <ion-tab-button tab="search" style="background-color: #303030">
              <ion-icon src="../../assets/search-sharp.svg" color="light"></ion-icon>Search</ion-tab-button >

              <ion-tab-button tab="search" style="background-color: #303030">
              <ion-icon src="../../assets/notifications-sharp.svg" color="light"></ion-icon>Notifications</ion-tab-button >
  

              <ion-tab-button tab="profile" style="background-color: #303030">
              <ion-icon src="../../assets/person.svg" color="light"></ion-icon>
              Profile
            </ion-tab-button  >
          </ion-tab-bar>
        </ion-tabs>


      </ion-row>
    </ion-grid>
  </form>
</ion-content>


