
#groupsList {
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}


ion-content {
    
  --background: url(../../assets/bg_mid .png) no-repeat center/cover fixed;

}


#findLocations {

  margin: auto;
}

#allGroups {
  display: block;
  margin: auto;
}
