ion-content {
    
  --background: url(../../assets/bg_mid .png) no-repeat center/cover fixed;
  background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,0.3) 13%, rgba(97,200,207,0.3) 50%, rgba(77,158,215,0.3) 88%);
}
ion-toolbar {
  background: rgb(77,158,215);
  background: linear-gradient(90deg, rgba(77,158,215,0.6) 10%, rgba(128,93,167,0.6) 30%, rgba(239,81,157,0.6) 70%, rgba(97,200,207,0.6) 90%);
}

.chatBubble {
width: 300px;
margin: 50px auto;
border: 4px solid #EF519D;
padding: 20px;
text-align: center;
color: #303030;
font-family: arial;
position: relative;
background-color: white;
}

.chatBubbleCorner:before {
content: "";
width: 0px;
height: 0px;
position: absolute;
border-left: 10px solid transparent;
border-right: 10px solid #EF519D;
border-top: 10px solid #EF519D;
border-bottom: 10px solid transparent;
right: 20px;
bottom: -23px;
}

.chatBubbleCorner:after {
content: "";
width: 0px;
height: 0px;
position: absolute;
border-left: 10px solid transparent;
border-right: 10px solid #fff;
border-top: 10px solid #fff;
border-bottom: 10px solid transparent;
right: 24px;
bottom: -13px;
}
