
<ion-header>
  <ion-toolbar>
    <div class="ion-text-center">
      <img src="../../assets/main_logo.png" width="50%" height="15%" style="padding-bottom: 1%;padding-top: 8%;">
      </div >
      <div style="text-align: center; font-size: 12pt;">
        Games
      </div>
<!-- SLIDE OUT MENU -->
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
        <ion-icon src="../../assets/menu.svg" color="fupot_grey"></ion-icon>
      </ion-menu-button>    
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  

<!-- NEED TO CHANGE THESE COLORS TO FUPOT COLORS (currently not working but works on owner home page) -->
  <ion-content class="ownerGames" adding class="letsstart">
  <div><ion-button color="fupot_blue" expand="block" shape="round" style="margin-left: 10%;margin-right: 10%; margin-top: 5%;">Create Game</ion-button></div>
  <div><ion-button color="fupot_pink" expand="block" shape="round" style="margin-left: 10%;margin-right: 10%;margin-top: 5%;">Send Notification</ion-button></div>
  <div><ion-button color="fupot_teal" expand="block" shape="round" style="margin-left: 10%;margin-right: 10%;margin-top: 5%;">Group Members</ion-button></div>
  <div><ion-button color="fupot_purple" expand="block" shape="round" style="margin-left: 10%;margin-right: 10%;margin-top: 5%;">Group Members</ion-button></div>


<!-- BOTTOM NAV BAR -->  
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" style="background-color: #303030">
      <ion-icon src="../../assets/home.svg" color="light"></ion-icon>
      <ion-label color="light">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" style="background-color: #303030">
      <ion-icon src="../../assets/help-circle.svg" color="fupot_pink" size="large"></ion-icon>
      <ion-label color="light">Games</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Profile" style="background-color: #303030">
      <ion-icon src="../../assets/person.svg" color= "light"></ion-icon>
      <ion-label color="light">Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

</ion-content>


