<ion-header>
  <ion-toolbar color="none">
    <div class="ion-text-center">
      <img src="../../assets/main_logo.png" width="45%" style="padding-bottom: 1%;padding-top: 7%;">
      </div >
      <div style="text-align: center; font-size: 10pt; margin-bottom: 3%;">
        Answer Question
      </div>
  </ion-toolbar>
  </ion-header>

  <ion-content >
    
    <div id="questionBg" class="ion-text-center" style="margin-bottom: 3%;">
          <ion-label id="Timer"></ion-label>
      
  </div>

  <div class="ion-text-center" style="margin-top: 10%; padding-left: 3%; padding-right: 3%;">
    <ion-label style="font-weight: 500; font-size: 18pt;">{{question.prompt}}</ion-label>
  </div>

<div style="margin-top: 10%; margin-left: 6%; margin-right: 6%; text-align: center;">
  <ion-label class="ion-text-center" style="font-size: large;">Type your answer below:</ion-label>
  <ion-input [(ngModel)]="user_answer" style="margin-top: 5%; font-size: large;" placeholder="Type answer here"></ion-input>
</div>
  

  <div style="margin-top: 10%;">
 
    <div><ion-button id="buttonPink" (click)="answer()" color="fupot_pink" expand="block" style="margin-left: 6%;margin-right: 6%;margin-top: 5%;" size="large">
      <ion-label id="label" style="font-weight: bold; font-size: large;" color="light">Submit Answer</ion-label></ion-button></div>
    </div>
  </ion-content>