
ion-card {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    overflow: visible;
    margin: 16px 0 24px;
    position: relative;
    padding-top: 60px;
  
    .img-wrapper {
      position: absolute;
      left: 50%;
      top: -30px;
      transform: translateX(-50%);
      img {
        border-radius: 10px;
        width: 100px;
        height: 100px;
        display: flex;
        border-radius: 50%;
        bottom: calc(-1*(80px + 4px));
        border: 5px solid #EF519D;
        background-color: #d3d3d3;
      }
  
      ion-button {
        --border-width: 1px;
        --border-color: var(--ion-color-light-shade);
        --border-style: solid;
        --padding-start: 0;
        --padding-end: 0;
        --padding-bottom: 0;
        --padding-top: 0;
  
        --border-radius: 50%;
        height: 20px;
        width: 20px;
  
        position: absolute;
        right: 2px;
        bottom: -7px;
  
        ion-icon {
          width: 14px;
          height: 14px;
        }
      }
    }
  }



/* .profileHeader {
    height: 100px;
}

.avatar {
    width: 80px;
    height: 80px;
    margin: 0 auto;

    img {
        display: flex;
        border-radius: 50%;
        bottom: calc(-1*(80px + 4px));
        border: 5px solid #EF519D;
        background-color: #d3d3d3;
        align-items: flex-start;    }
} */