ion-content {
    
    --background: url(../../assets/bg_mid .png) no-repeat center/cover fixed;
  
  }

  #option {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }