ion-content {
    
    --background: url(../../assets/bg_mid .png) no-repeat center/cover fixed;
  
  }

  #option {
    text-shadow: 0 1px 1px #666666; 
    background: rgba(255,255, 255, 0.4);
    box-shadow: 10px 15px 10px #888888;
    padding-left: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }