<ion-content>
  <!-- Using web animation lib to animate our logo section --> 
  <script src="web-animations.min.js"></script>
  <!-- Using forms for collecting user information and parseing it later on --> 
  <form  #form="ngForm" >
    <ion-grid>
      <ion-row color="primary" class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <!-- Fupot Logo Section --> 
          <div id="signin_logo_animation" class="ion-text-center">
            <img src="../../assets/load_screen_logo.png" width="75%" height="20%" style="padding-bottom: 5%;padding-top: 5%;">
            </div>
            <!-- Middle user inputs section for signin--> 
            <div class="middle_section">
              <ion-row class="padding_middle_section">
                <ion-icon src="../../assets/input_icons/username.svg" class="padding_between_icons"></ion-icon>
                <ion-input [(ngModel)]="loginValues.username" id="middle_inputs_style" name="name" type="text" placeholder="Username" ngModel required class="custom_border"></ion-input>
              </ion-row>
              <ion-row class="padding_middle_section">
                <ion-icon src="../../assets/input_icons/key.svg" class="padding_between_icons"></ion-icon>
                <ion-input [(ngModel)]="loginValues.password" id="middle_inputs_style" name="password" type="password" placeholder="Password" ngModel required class="custom_border"></ion-input>
              </ion-row>
            </div>
            <!-- Button Section with texts --> 
          <div style="margin-top: 20%;">
            <div class="ion-text-center">
              <ion-button (click)="loginUser()" fill="outline" size= large id="customized_submit_button" type="submit">&nbsp;&nbsp;Submit&nbsp;&nbsp;</ion-button>
            </div>
            <ion-row class="label_style">
              <div id="bottom_text_style">Don't have an account, please&nbsp; </div>
              <ion-label><a id="bottom_text_style" [routerLink]="['/signup']" routerLinkActive="router-link-active" >Signup</a></ion-label>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>